AMQP_ADDRESS=amqp://guest:guest@rabbitmq:5672
DATABASE_DSN='host=tododb user=postgres password=postgres dbname=postgres port=5432 sslmode=disable TimeZone=UTC'
HTTP_SERVER_READ_TIMEOUT=15s
HTTP_SERVER_READ_HEADER_TIMEOUT=15s
HTTP_SERVER_WRITE_TIMEOUT=15s
HTTP_SERVER_ADDRESS=0.0.0.0:5050
USER_SERVICE_ADDRESS=user:4040
AUTH_SERVICE_ADDRESS=auth:6060
TODO_SERVICE_ADDRESS=todo:3030
ACCESS_SIGN_KEY=super-secure-sign-key
ACCESS_JWT_EXP=3600h
RETRY_DELAY_CONNECT=10s
RETRY_ATTEMPTS_CONNECT=10
