AMQP_ADDRESS=amqp://guest:guest@localhost:5673
DATABASE_DSN=host=localhost user=sajjad password=sajjad123 dbname=werify port=5432 sslmode=require TimeZone=UTC
DATABASE_DRIVER=DATABASE_DRIVER
HTTP_SERVER_READ_TIMEOUT=15s
HTTP_SERVER_READ_HEADER_TIMEOUT=15s
HTTP_SERVER_WRITE_TIMEOUT=15s
HTTP_SERVER_ADDRESS=127.0.0.1:9020
USER_SERVICE_ADDRESS=127.0.0.1:5050
Auth_SERVICE_ADDRESS=127.0.0.1:5051

ACCESS_SIGN_KEY=super-secure-sign-key
ACCESS_JWT_EXP=3600h

