AMQP_ADDRESS=amqp://guest:guest@localhost:5673
DATABASE_DSN=host=localhost user=sajjad password=sajjad123 dbname=werify port=5432 sslmode=require TimeZone=UTC
DATABASE_DRIVER=DATABASE_DRIVER
HTTP_SERVER_READ_TIMEOUT=15s
HTTP_SERVER_READ_HEADER_TIMEOUT=15s
HTTP_SERVER_WRITE_TIMEOUT=15s
HTTP_SERVER_ADDRESS=127.0.0.1:9020
ACCESS_SIGN_KEY=super-secure-sign-key
ACCESS_JWT_EXP=3600h
TOTP_ISSUER=briofy.net
SIGNED_PERIOD=SIGNED_PERIOD
SPACE_KEY=SPACE_KEY
SPACE_SECRET=SPACE_SECRET
SPACER_EGION=SPACER_EGION
SPACE_ENDPOINT=SPACE_ENDPOINT
SPACE_BUCKET=SPACE_BUCKET
FS_DATABASE_DRIVER=FS_DATABASE_DRIVER
STORAGE_TYPE=STORAGE_TYPE
S3_BUCKET=S3_BUCKET
FS_DSN=DSN